<template>
  <div>
    <quillEditor ref="editorRef" v-model="content" :options="editorOption" @change="onContentChange">
      <div :id="[toolbar]" slot="toolbar">
        <span class="ql-formats">
            <button class="ql-bold" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-italic" type="button">
            </button></span>
        <span class="ql-formats">
            <button class="ql-underline" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-strike" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-blockquote" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-code-block" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-header" value="1" type="button">
            </button></span>
        <span class="ql-formats">
            <button class="ql-header" value="2" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered" type="button">
            </button></span><span class="ql-formats">
            <button class="ql-list" value="bullet" type="button">
            </button></span>
        <span class="ql-formats">
            <button class="ql-script" value="sub" type="button">
            </button>
        </span>
        <span class="ql-formats">
            <button class="ql-script" value="super" type="button"></button></span>
        <span class="ql-formats">
            <select class="ql-size">
                <option value="12px">12px</option>
                <option selected="selected">14px</option>
                <option value="16px">16px</option>
                <option value="18px">18px</option>
                <option value="20px">20px</option>
                <option value="22px">22px</option>
                <option value="24px">24px</option>
                <option value="26px">26px</option>
                <option value="28px">28px</option>
                <option value="30px">30px</option>
                <option value="32px">32px</option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-header">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
                <option selected="selected"></option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-color">
                <option selected="selected"></option>
                <option value="#e60000"></option>
                <option value="#ff9900"></option>
                <option value="#ffff00"></option>
                <option value="#008a00"></option>
                <option value="#0066cc"></option>
                <option value="#9933ff"></option>
                <option value="#ffffff"></option>
                <option value="#facccc"></option>
                <option value="#ffebcc"></option>
                <option value="#ffffcc"></option>
                <option value="#cce8cc"></option>
                <option value="#cce0f5"></option>
                <option value="#ebd6ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#f06666"></option>
                <option value="#ffc266"></option>
                <option value="#ffff66"></option>
                <option value="#66b966"></option>
                <option value="#66a3e0"></option>
                <option value="#c285ff"></option>
                <option value="#888888"></option>
                <option value="#a10000"></option>
                <option value="#b26b00"></option>
                <option value="#b2b200"></option>
                <option value="#006100"></option>
                <option value="#0047b2"></option>
                <option value="#6b24b2"></option>
                <option value="#444444"></option>
                <option value="#5c0000"></option>
                <option value="#663d00"></option>
                <option value="#666600"></option>
                <option value="#003700"></option>
                <option value="#002966"></option>
                <option value="#3d1466"></option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-background">
                <option value="#000000"></option>
                <option value="#e60000"></option>
                <option value="#ff9900"></option>
                <option value="#ffff00"></option>
                <option value="#008a00"></option>
                <option value="#0066cc"></option>
                <option value="#9933ff"></option>
                <option selected="selected"></option>
                <option value="#facccc"></option>
                <option value="#ffebcc"></option>
                <option value="#ffffcc"></option>
                <option value="#cce8cc"></option>
                <option value="#cce0f5"></option>
                <option value="#ebd6ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#f06666"></option>
                <option value="#ffc266"></option>
                <option value="#ffff66"></option>
                <option value="#66b966"></option>
                <option value="#66a3e0"></option>
                <option value="#c285ff"></option>
                <option value="#888888"></option>
                <option value="#a10000"></option>
                <option value="#b26b00"></option>
                <option value="#b2b200"></option>
                <option value="#006100"></option>
                <option value="#0047b2"></option>
                <option value="#6b24b2"></option>
                <option value="#444444"></option>
                <option value="#5c0000"></option>
                <option value="#663d00"></option>
                <option value="#666600"></option>
                <option value="#003700"></option>
                <option value="#002966"></option>
                <option value="#3d1466"></option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-font">
                <option selected="selected"></option>
                <option value="Khmer OS">Khmer OS</option>
                <option value="Khmer OS Battambang">Khmer OS Battambang</option>
                <option value="Khmer OS Riemreap">Khmer OS Riemreap</option>
                <option value="Khmer OS Moul Light">Khmer OS Moul Light</option>
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Georgia">Georgia</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Microsoft JhengHei">Microsoft JhengHei</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Courier New">Courier New</option>
                <option value="Impact">Impact</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Consolas">Consolas</option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-align">
                <option selected="selected"></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-clean" type="button"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link" type="button"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-image" type="button"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-video" type="button"></button>
        </span>
      </div>
    </quillEditor>
</div>
</template>
<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import _Quill from "quill";
import { quillEditor } from "vue-quill-editor";
import ImageResize from "quill-image-resize-module";

const allowType = {
  ".png": "image/png",
  ".jpg": "image/jpeg",
};

const Quill = window.Quill || _Quill;
let SizeStyle = Quill.import("attributors/style/size");
let FontStyle = Quill.import("attributors/style/font");
let AlignStyle = Quill.import("attributors/style/align");

SizeStyle.whitelist = [
  "12px",
  "16px",
  "18px",
  "20px",
  "22px",
  "24px",
  "26px",
  "28px",
  "30px",
  "32px",
];

FontStyle.whitelist = [
  "Khmer OS",
  "Khmer OS Battambang",
  "Khmer OS Siemreap",
  "Khmer OS Moul Light",
  "Arial",
  "Verdana",
  "Georgia",
  "Times New Roman",
  "Microsoft JhengHei",
  "Trebuchet MS",
  "Courier New",
  "Impact",
  "Comic Sans MS",
  "Consolas",
];
Quill.register(SizeStyle, true);
Quill.register(FontStyle, true);
Quill.register(AlignStyle, true);
Quill.register("modules/imageResize", ImageResize);

export default {
  name: "Editor",
  components: { quillEditor },
  props: { value: String, placeholder: String },
  data() {
    return {
      content: this.value,
      toolbar: "", 
    };
  },
  computed: {
    editor() {
      return this.$refs.editorRef.quill;
    },
    accept() {
      return Object.keys(allowType).join(",");
    },
    editorOption() {
      let id =
        "toolbar-" +
        Math.random()
          .toString(16)
          .substring(2);
      this.toolbar = id; // eslint-disable-line
      return {
        placeholder: this.placeholder,
        modules: {
          toolbar: "#" + id,
          imageResize: {
            displayStyles: {
              backgroundColor: "black",
              border: "none",
              color: "white",
            },
            modules: ["Resize", "DisplaySize", "Toolbar"],
          },
        },
      };
    },
  },
  watch: {
    value(val) {
      if (this.editor && val !== this.content) this.content = val;
    },
  },
  methods: {
    onContentChange() {
      this.$emit("input", this.content);
    },
  },
};
</script>

<style>
.ql-container {
  font-size: 14px;
}

.ql-editor {
  height: 72vh;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  font-size: 12px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  font-size: 16px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  font-size: 18px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before {
  font-size: 22px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  font-size: 24px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="26px"]::before {
  font-size: 26px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
  font-size: 28px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before {
  font-size: 30px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  font-size: 32px;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Khmer OS"]::before {
  font-family: "Khmer OS";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Khmer OS Battambang"]::before {
  font-family: "Khmer OS Battambang";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Khmer OS Riemreap"]::before {
  font-family: "Khmer OS Riemreap";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Khmer OS Moul Light"]::before {
  font-family: "Khmer OS Moul Light";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before {
  font-family: "Arial";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Verdana"]::before {
  font-family: "Verdana";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Georgia"]::before {
  font-family: "Georgia";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Times New Roman"]::before {
  font-family: "Times New Roman";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Microsoft JhengHei"]::before {
  font-family: "Microsoft JhengHei";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Trebuchet MS"]::before {
  font-family: "Trebuchet MS";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Courier New"]::before {
  font-family: "Courier New";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Impact"]::before {
  font-family: "Impact";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Comic Sans MS"]::before {
  font-family: "Comic Sans MS";
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Consolas"]::before {
  font-family: "Consolas";
}
</style>
